body {
  background-color: #f5f5f5;
}

footer > div {
  height: 10vw;
  background-color: #BDBDBE;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: .7rem;
  padding: 10px;
}

#user-filter-choice{
  position: relative;
  margin: 20px 0px;
  width: 100%;
}

#borough-list {
  height: 12vw;
  width: 60vw;
  font-size: 4vw;
  border-radius: 7px;
  padding-left: 15px;
}

.app-header {
    position: relative;
    text-align: center;
  }

.app-header > img {
  max-width: 100%;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}


/* CSS for header */
.webAppName {
  position: absolute;
  bottom: 40%;
  /* Created with https://cssgradient.io/*/
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.1) 100%);
  width: 100%;
  font-size: 7vw;
}

.webAppName > p {
  line-height: 5px;
  padding-left: 10px;
  font-family: 'Oswald', sans-serif;
}

/* CSS for restaurant data */
.number-of-restaurants{
  width: 100%;
}

.restaurant-data {
  font-size: 4vw
}

.restaurants-in-borough{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
}

.restaurant-name {
  font-size: 6vw;
}

.number-of-restaurants > div {
  background-color: rgba(224,222,222,0.3);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: solid 1px;
  font-family: 'Hind Siliguri', sans-serif;
}

.restaurants-in-borough > div {
  background-color: rgba(224,222,222,0.3);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: solid 1px;
  font-family: 'Hind Siliguri', sans-serif;
}

/* CSS for news section */
.covid-news {
  display: flex;
  flex-flow: column nowrap;
}

.covid-news > div {
  margin-bottom: 20px;
}

.covid-news > div > img {
  max-width: 100%;
}


@media only screen and (min-width: 800px) {
  footer > div {
    height: 5vw;
  }

  #borough-list {
    height: 4vw;
    width: 40vw;
    font-size: 2vw;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 30%;
  }

  .main-container {
    align-items: stretch;
  }

  .user-filters {
    align-items: center;
  }

  /* CSS for restuarant data */
  .number-of-restaurants {
    width: 50%;
    margin: 0 auto
  }

  .restaurant-data {
    font-size: 1.5vw
  }

  .restaurants-in-borough{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-around;
  }

  .restaurant-name {
    font-size: 2vw;
  }

  .number-of-restaurants > div {
    text-align: center;
  }

  .number-of-restaurants > div > p{
    font-size: 1.4vw
  }

  .restaurants-in-borough > div{
    width: 45%;
  }

  /* CSS for News Articles */
  .covid-news {
    display: flex;
    flex-flow: row;
  }
  
  .covid-news > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .covid-news > div > a {
    display: inline-block;
    max-width: 75%;
    font-size: 1.4vw;
  }
  
  .covid-news > div > img {
    max-width: 75%;
  }

}

